/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@300;400;500;700&display=swap');

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
::selection {
  background-color: #89796D;
  text-shadow: none;
  color: white;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Home{
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
}

/* css for Todo section (left part of the UI) */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headingleft{
  display: flex;
  align-items: center;
}
.logoutbutton{
  height: fit-content;
}
.logoLT{
  width: 100px;
  margin-right: 25px;
}
.TodoDiv{
  width: 50vw;
  height: 100vh;
  /* padding: 5%; */
  background-color: rgba(246,233,223,1);
}
.TodoContent{
  padding: 5%;
  height: 103%;
  width: 39vw;
  margin: 0 0 0 7%;
}

.TodoTitle{
  font-size: xxx-large;
  font-weight: bold;
  margin: 0px 20px 0px 0px;
}

.Todosub h2.nomargintext {
  text-transform: lowercase;
  font-weight: 500;
}

.Todosub h4.nomargintext {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 15px;
}

.TodoContent .greetingheader{
  font-weight: 400;
  text-transform: lowercase;
  font-size: 40px;
}
.TodoContent h4 {
  font-weight:400;
  color: #A6978B;

}
.Todosub{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nomargintext{
  margin: 0;
}
.todorighttop{
  display: flex;
  align-items: center;
}

/* css for Feed section (Top right part of the UI) */
.FeedDiv{
  width: 50vw;
  height: 50vh;
  padding-bottom: 0px;
  z-index: 10;
  /* padding: 5%; */
}

.FeedTitle{
  font-weight: 600;
  margin: 0px;
}
/* css for Feed section (top right part of the UI) */
.FeedDiv {
  background: #FFF9F4;
  position: relative;
  box-shadow: 0px 4px 10px rgba(237, 217, 202, 0.5);
}

/* css for Request section (bottom right part of the UI) */
.AllRequestsDiv{
  background: #FFF9F4;
  /* padding-bottom: 100px; */
  width: 50vw;
  height: 100%;
}

.AllRequestsContent, .FeedContent{
  height:max-content;
  height: 100%;
}

.FeedContent{
  padding: 5% 10%;
  height: 40vh;
}

.AllRequestsContent{
  padding: 5% 10%;
}

.AllRequestsTitle, .FeedTitle{
  font-weight: bold;
  margin: 0px 10px 10px 0;
  /*margin-bottom: 0px;*/
  font-size: 30px;
  color: #524439;
}

.AllRequestsSubtitle, .FeedSubtitle{
  color: #524439;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 10px;
  margin-top: 0px;
/* or 133% */
  letter-spacing: 0.0015em;
  color: #A6978B;
  width: auto;
  border-bottom-style:solid;
  border-bottom-color:rgba(182, 151, 127, 0.5);
  border-bottom-width: 1px;
}


.AllRequestsGrid, .FeedGrid{
  display: flex;
  overflow: scroll;
}

.FeedGrid::-webkit-scrollbar{
  display: none;
}
.AllRequestsGrid::-webkit-scrollbar{
  display: none;
}
.nomatchfeed{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.feedcard{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.AllRequestsGrid::-webkit-scrollbar { 
  display: none;
}
.IndRequestDiv {
  margin: 0 20px;
  background-color: #E1D2C6;
  height:100%;
  overflow-wrap: break-word;
  border-radius: 20px;
  border: 1px solid #524439;
  box-sizing: border-box;
  color: #524439;
  display:inline-block;
}

.IndRequestItemContent{
  justify-content: center;
  /* padding: 23px 30px 8px 30px; */
  width: 150px;
  padding: 15px 30px;
}

.IndRequestName{
  font-size: 20px;
  color: #524439;
  margin-bottom: 0px;
}

.IndRequestSubInfo{
  margin-bottom: 10px;
  display: inline-block;
  width:max-content;
}

.IndRequestLocation,.IndRequestDate{
  font-size: 12px;
  font-weight:400;
  color: rgba(82, 68, 57, 0.87);
}
#request-label-dark {
  background-color: #524439;
}

#request-label-light {
  background-color: #89796D;
}

.request-label {
  color: white;
  /*top: 798px;*/
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  /* width:max-content; */
  padding: 5% 25%;
  margin-bottom: 10px;
}

.button-contain{
  position: relative;
  display:grid;
  grid-template-columns:1fr 1fr;
  column-gap: 3px;
  justify-items: center;
}

.request-button{
  width:min-content;
}


.request-button-overlay {
  width: min-content;
  position: absolute;
  opacity: 0;
  transition: .3s ease;
}

.request-button-overlay:hover {
  opacity: 1;
}

/* additional css for request component */
.Requestparent{
  width : "50vw";
  height: 50vh;
  margin-top: -10px;
  background-color: #FFF9F4;
}
.Requestcomp{
  display: flex;
  overflow: scroll;
}
.Requestcomp::-webkit-scrollbar{
  display: none;
}
/* .Requestcard{
  margin: 0 20px;
  background-color: #E1D2C6;
  height: auto;
  width: calc(max-content + 5%);
  border-radius: 20px;
  border: 1px solid #524439;
  display: inline-block;
} */
/* .Requestitem{
  padding: 2vh 2vw;
  width: 7.8vw;
} */
.noincomingreq{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

/* css for Task components */
.TaskDiv{
  /* display: grid;
  grid-template-columns: 1.2fr 1fr;
  width: 38vw;
  margin: 1% 0;
  border-radius: 20px;
  border: 2.5px solid #524439;
  background-color: rgba(246,233,223,1);
  background-color: #EDD9CA; */
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  height: 240px;
  width: 99%;
  border: 1px solid #524439;
  justify-content: space-between;
  border-radius: 20px;
}
.TaskInfo{
  width: 60%;
  grid-column-start: 1;
  grid-column-end: 2;
  background: rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(82, 68, 57, 0.5);
  padding: 10px 0 10px 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px;
}

.TaskInfo h1{
  font-weight: 500;
  font-size: 30px;
}
.TaskInfo h3{
  display: inline;
  color: rgba(82, 68, 57, 0.5);
  border-bottom: 1px solid rgba(82, 68, 57, 1);
  font-weight: 400;
  padding-bottom:5px;
  font-size: 16px;
}
.TaskInfo h5{
  margin: 10px 0 5px 0;
  font-weight:400;
  font-size: 12px;
}

.TaskFill{
  margin-bottom: 18px;
}
.tasklist{
  /* margin-top:24px;
  display: grid;
  row-gap: 30px;
  overflow: scroll;
  height: 74vh; */   
  height: 70%;
  overflow: scroll;
}
.tasklist::-webkit-scrollbar { 
  display: none;
}

.empty-message{
  height: 68%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* css for Timer components(right side of the task component) */
.Timer{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EDD9CA;;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  width: 35%;
}
.Timer h1{
  font-size: -webkit-xxx-large;
  font-weight:400;
  margin-bottom: 0;
}
.timerbutton{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.timerbutton button{
  padding: 0 10px;
}
.task-complete{
  display: flex;
  justify-content: space-evenly;
}
/*.taskcomplete button{
  background: transparent;
}*/

.AssignmentInfo{
  display: flex;
  font-size: small;
}
.Timer{
  text-align: center;
}

.task-complete-button {
  background-color: #EDD9CA;
  border: none;
}

.task-complete-button:hover {
  cursor:default;
}


.linebreak{
  border: 1px solid #B6977F;
}

.analytics{
  margin-right: 15px;
  font-weight:300;
}

.start-resume-button {
  background-color: #524439;
  color: white;
}

.start-resume-button:hover {
  box-shadow: 0px 4px 4px 0px #A6978B;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.pause-button {
  background-color: #89796D;
  color: white;
}

.pause-button:hover {
  box-shadow: 0px 4px 4px 0px #A6978B;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}
/* css for Analytics components */
.AnalyticsDiv{
  height: max-content;
  width: calc(39vw - 10%);
  position: sticky;
  z-index: 10;

  margin-top: -118%;
  border-radius: 20px;

  padding: 1% 5% 5% 5%;
  background-color: rgba(255, 249, 244, 1);
  border-style:solid;
  border-color: #524439;
}
.AnalyticsContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AnalyticsContent h1{
  color: #524439;
}

.AnalyticsContent h1{
  font-weight:500;
  margin-bottom: 10px;
}
.analyticsh2{
  color: #524439;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.analyticsh3{
  color: #A6978B;
  margin: 0;
  font-weight:400;
  font-size: 15px;
}
.backtohomebutton{
  color:#89796D;
}

/* css for avgtimepertask component */
.avgtime{
  padding: 2%;
}

.avgtimeclassname{
  background: #524439;
  border-radius: 15px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  color: white;
  margin: 10px auto;
  font-weight: 400;
  font-size: 12px;
}
.avgtimetook{
  padding: 0 15px 0 15px;
  color: #524439;
  margin: 0;
  font-weight:400;
  font-size:15px;
}

/* css for weekly timebreakdown component */
/* .timespent{
  margin-top:18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */
.timespentonday{
  margin: 0;
}

h4.timespentonday{
  color:#524439;
}

h5.timespentonday{
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
  border-left: 2px solid black;
}
#avgtimelinebreak0{
  border: 3px solid rgba(182, 151, 127, 0.5);
  margin-left: 10px;
  border-left: 2px solid black;
}
#avgtimelinebreak1{
  border: 3px solid rgba(182, 151, 127, 0.5);
  margin-left: 10px;
  border-left: 2px solid black;
}
#avgtimelinebreak2{
  border: 3px solid rgba(182, 151, 127, 0.5);
  margin-left: 10px;
  border-left: 2px solid black;
}
#avgtimelinebreak3{
  border: 3px solid rgba(182, 151, 127, 0.5);
  margin-left: 10px;
  border-left: 2px solid black;
}
#avgtimelinebreak4{
  border: 3px solid rgba(182, 151, 127, 0.5);
  margin-left: 10px;
  border-left: 2px solid black;
}
#avgtimelinebreak5{
  border: 3px solid rgba(182, 151, 127, 0.5);
  margin-left: 10px;
  border-left: 2px solid black;
}
#avgtimelinebreak6{
  border: 3px solid rgba(182, 151, 127, 0.5);
  margin-left: 10px;
  border-left: 2px solid black;
}
.studytimeperday{
  /* margin: 5%; */
  margin: 10px 5% 0 3%;
}

/* css for addtask component */
.Addtaskdiv{
  height: max-content;
  width: calc(39vw - 10%);
  position: sticky;
  z-index: 10;
  margin-top: -118%;
  border-radius: 20px;
  padding: 1% 5% 5% 5%;
  background-color: rgba(255, 249, 244, 1);
  border-style:solid;
  border-color:#524439;
}
.AddtaskContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AddtaskContent h1{
  color: #524439;
  font-size: 30px;
  font-weight: 500;
  margin-bottom:0;
}
.Addtaskh3{
  color: #A6978B;
  margin: 0;
  font-weight:400;
  font-size: 15px;
}

.Addtaskh2{
  color: #524439;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}


.addtaskinput{
  color: #C4B4A8;
  border-radius: 5px;
  margin-bottom:25px;
  border-style: solid;
  border-width: 1.5px;
}

legend{
  font-size:12px;
  font-weight: 400;
}

form{
  margin-top:21px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}
.forminput{
  border-radius: 1px;
  border: 0px;
  background: transparent;
  width: 50%;
}

.createtaskbutton{
  margin: 0 0 0 35%;
  background: #524439;
}

.signinpage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #e8d8cb;
  text-align: center;
}
.signinLimg{
  height: 500px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.signincomp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-left{
  display: flex;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.signin-right{
  height: 500px;
  background-color: #89796D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0 10px;
}